<h2> this is my jinja index file</h2>
<h2> node ip: {{ansible_all_ipv4_addresses}}</h2>
<h2> thsi is ansible project</h2>
<h2> node os is: {{ansible_os_family}}</h2>
<h2> java package is: {{myjavaonubuntu}}</h2>
<h2> this is my jinja index file</h2>